{% extends "base.html" %}
{% block title %} HOME {% endblock %}
{% block content %}
<body class="mainContent">  
    <div  class = "container-fluid" id="homexd">
        <div class = "row">
            <div class="col-md-12">
                <h1 data-value="HYPERPLEXED" id="main-text">g-{minin}-ƃ </h1>
                <h5> Not Just A Community</h5>
                          <h5>  But A Friend...</h5>
            </div>
        </div>
    </div>
    <table class="table table-primary table-striped">
    <thead class="table-primary">
        <tr>
            <th>name_book</th>
            <th>Author</th>
            <th>Purchase Year</th>
        </tr>
    </thead>
    </table>
</body>    
{% endblock %}