{% load static %}
<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">

{#<div class="navTrigger" >#}
{#    <i></i><i></i><i></i>#}
{#</div>#}
{##}
{#       <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>   #}
      <div class="navTrigger" id="navHamburger" aria-controls="offcanvasNavbar">
    <i></i><i></i><i></i>
</div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
{#        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link home-font" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-font" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link feedback-font" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Feedback
            </a>
            <ul class="dropdown-menu" id="dropdown-settings">
              <li><a class="dropdown-item" id="x1" href="#">Action</a></li>
              <li><a class="dropdown-item" id="x2" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" id="x3" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
      <div class="d-flex justify-content-center" id="uno">
           <ul class="nav-list" >
            <li class="nav-items" >
              <a class="nav-link forum-link" aria-current="page" href="#">Forum</a>
            </li>
            <li class="nav-items">
              <a class="nav-link memes-link" href="#">Memes</a>
            </li>
            <li class="nav-items">
              <a class="nav-link aboutus-link" href="#">About us</a>
            </li>
            <li class="nav-items">
              <a class="nav-link motiv-link" href="#">Motivation</a>
            </li>
          </ul>
      </div>
{#      <img src="{% static "images/logoggg.png" %}" alt="Italian Trulli">#}
    <a class="navbar-brand canva-link" href="#">Community</a>
      
                      <div>
                    <a href="" class="btn btn-outline-success">Login</a>
                    <a href="" class="btn btn-outline-secondary">Sign up</a>
                </div>


  </div>
</nav>

